.carousel-item img {
    max-height: 750px; 
    width: auto; 
  }

.bg-capivara {
    background-color: #683414;
}

h1{
    color: #683414;
}

#Formulario {
    width: 300px; 
    height: 200px; 
    border: solid black;
    padding: 20px;
}

h2 {
    color: black;
}
